<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Allomany feltoltese</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1 class="nagy-cimek">A bevezetett állományok a <%=id %> kódú tantárgyhoz a következők:</h1>
    <% if (allomanyok.length> 0) { %>
        <ul>
            <% allomanyok.forEach(function(item) { %>
                <% if (item.kod==id) { %>
                    <div id="allomany-<%= item.nev %>">
                        <%= item.fileNev %>
                            <a class="download-button" href="./<%= item.nev %>" download>Letöltés</a>
                            <button class="delete-button" data-nev="<%= item.nev %>">Törlés</button>
                    </div>
                    <% } %>
                        <% }); %>
        </ul>
        <% } else { %>
            <p>Nincsenek állományok feltöltve ehhez a tantárgyhoz.</p>
            <% } %>
                <h1 class="nagy-cimek">Töltsön fel egy új állományt a <%=id %> kódú tantárgyhoz: </h1>
                <div>
                    <form id="ujallomany" action="/allomany" method="POST" enctype="multipart/form-data">
                        <label for="feltoltendofile">Válassza ki a feltöltendő file-t:</label>
                        <input type="file" id="feltoltendofile" name="feltoltendofile" multiple> <br>
                        <label for="id">A tantárgy kódja: </label>
                        <input type="text" id="id" name="id" value="<%=id %>"> <br>


                        <input class="submit-gomb" type="submit" value="Állomány hozzáadása!">
                    </form>
                </div>
                <script src="./valid.js"></script>
                <script src="./fooldalMain.js"></script>
</body>

</html>