<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Allomany feltoltese</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>A bevezetett allomanyok a <%=id %> kodu tantargyhoz a kovetkezok:</h2>
    <% if (allomanyok.length> 0) { %>
        <ul>
            <% allomanyok.forEach(function(item) { %>
                <% if (item.kod==id) { %>
                    <div id="allomany-<%= item.nev %>">
                        <a href="./<%= item.nev %>" download>Letoltes</a>
                        <%= item.nev %>
                            <button onclick="deleteByName(`<%= item.nev %>`)">Torles</button>
                    </div>
                    <% } %>
                        <% }); %>
        </ul>
        <% } else { %>
            <p>Nincsenek allomanyok feltoltve ehhez a tantargyhoz.</p>
            <% } %>
                <h1>Toltson fel egy uj allomanyt a <%=id %> kodu tantargyhoz: </h1>
                <div>
                    <form id="ujallomany" action="/allomany" method="POST" enctype="multipart/form-data">
                        <label for="feltoltendofile">Válassza ki a feltöltendő file-t:</label>
                        <input type="file" id="feltoltendofile" name="feltoltendofile" multiple> <br>
                        <label for="id">A tantargy kodja: </label>
                        <input type="'text" name='id' value=<%=id %>> <br>

                        <input type="submit" value="Allomany hozzaadasa!">
                    </form>
                </div>
                <script src="./valid.js"></script>
                <script src="./main.js"></script>
</body>

</html>