<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Fooldal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="fooldalTanar">
    <a href="/adatok?felhasznalo=<%= felhasznalo %>&action=<%= action %>">Saját adatok</a> <br> <br>
    <button class="button-fooldal" id="kijelentkezes">Kijelentkezés</button>
    <script src="./fooldalTanarMain.js"></script>
    <button class="button-fooldal" onclick="window.location.href='/orarend?tkod=<%= felhasznalo %>'">Órarend
        megtekíntése</button>
    <h1 class="nagy-cimek">Már bevezetett tantárgyak: </h1>
    <% tantargyakTanar.forEach(function(item) { %>
        <div class="show-details" id="tantargy-<%= item.kod %>">
            <h2 id="tantargy-nev">
                <%= item.nev %>
            </h2>
            <p>Kód:
                <%= item.kod %>
            </p>
            <p>Évfolyam: <%= item.evfolyam %>
            </p>
            <div id="details-<%= item.kod %>"></div>
        </div>
        <div id="tanarGombok">
            <button class="button-fooldal"
                onclick="window.location.href='/allomany?id=<%= item.kod %>'">Állományok</button>
            <button onclick="window.location.href='/orak?id=<%= item.kod %>'" class="button-fooldal">Órarendhez
                adás</button>
        </div>
        <% }); %>
</body>

</html>