<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Fooldal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body id="fooldal">
    <a href="/adatok?felhasznalo=<%= felhasznalo %>&action=<%= action %>">Saját adatok</a>
    <button class="button-fooldal" id="kijelentkezes">Kijelentkezés</button>
    <script src="./fooldalMain.js"></script>
    <h1 class="nagy-cimek">Már bevezetett tantárgyak: </h1>
    <% tantargyak.forEach(function(item) { %>
        <div class="show-details" id="tantargy-<%= item.kod %>">
            <h2 id="tantargy-nev">
                <%= item.nev %>
            </h2>
            <p>Kód:
                <%= item.kod %>
            </p>
            <p>Évfolyam: <%= item.evfolyam %>
            </p>
            <div id="details-<%= item.kod %>"></div>
        </div>
        <div id="vendegGomb">
            <button class="button-fooldal "
                onclick="window.location.href='/allomanyVendeg?id=<%= item.kod %>'">Állományok</button>
            <button class="button-fooldal" onclick="window.location.href='/syllabusVendeg?id=<%= item.kod %>'">Syllabus
                megtekintése</button>
            <% }); %>
        </div>
</body>

</html>