<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Fooldal</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <button onclick="window.location.href='/tantargy'">Tantargy hozzaadasa</button>
    <button onclick="window.location.href='/felhasznalo'">Ki/Be Csatlakozas</button>
    <h2>Mar bevezetett tantargyak: </h2>
    <% tantargyak.forEach(function(item) { %>
        <div class="show-details" id="tantargy-<%= item.kod %>">
            <h2>
                <%= item.nev %>
            </h2>
            <p>Kód:
                <%= item.kod %>
            </p>
            <p>Évfolyam: <%= item.evfolyam %>
            </p>
            <div id="details-<%= item.kod %>"></div>
            <button onclick="window.location.href='/allomany?id=<%= item.kod %>'">Tartalom/hozzaadas</button>
        </div>
        <% }); %>

            </div>
            <script src="./main.js"></script>
</body>

</html>